<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>새 글</title>-->
<!--    <meta name="_csrf" th:content="${_csrf.token}">-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}">-->
<!--</head>-->
<!--<body>-->
<!--<h1>새 글 작성</h1>-->
<!--<form method="post" action="/articles">-->
<!--    <div>-->
<!--        <label>제목-->
<!--            <input type="text" id="title" name="title" required>-->
<!--        </label>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>내용-->
<!--            <textarea id="content" name="content" rows="8" required></textarea>-->
<!--        </label>-->
<!--    </div>-->
<!--    <button type="button" id="create-btn">저장</button>-->
<!--    <a href="/articles">목록</a>-->
<!--</form>-->
<!--<script src="/js/article.js" defer></script>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새 글</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<body>
<h1>새 글 작성</h1>
<form method="post" action="/articles">
    <input type="hidden" id="article-id" th:value="${article} != null ? ${article.id} : ''" />
    <div>
        <label>제목
            <input type="text" id="title" name="title" required>
        </label>
    </div>
    <div>
        <label>내용
            <textarea id="content" name="content" rows="8" required></textarea>
        </label>
    </div>
    <button type="button" id="create-btn">저장</button>
    <a href="/articles">목록</a>
</form>
<script src="/js/article.js" defer></script>
</body>
</html>
