<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>
</head>
<body>
<header>
    <a href="/" class="brand">🌀 임시로고</a>
</header>

<main>
    <h1>메인</h1>

    <a href="/articles">글목록보기</a>
    <span sec:authorize="isAnonymous()">
        | <a href="/login">로그인</a>
        | <a href="/join">회원가입</a>
        </span>
    <div sec:authorize="isAuthenticated()">
        | <form method="post" action="/logout" style="display:inline;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit">로그아웃</button>
    </form>
    </div>

</main>
</body>
</html>